body {
    font-family: sans-serif;
}

header {
    background-color: rgb(185, 228, 254);
    padding: 10px;
    border-radius: 20px;
}

header img{
    height: 30px;
}

header a{
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
}

h1{
    font-family: 'Times New Roman';
    text-align: center;
    color: DarkBlue;
}

footer p{
    border: 3px solid rgba(159, 159, 159, 0.57)
}

nav {
    border: 3px solid rgba(159, 159, 159, 0.57)
}

nav a{
    text-decoration: none;
    color: rgb(120, 120, 120);  
    margin: 40px;  
}
